html, body
{
	background: #020220 url(backgrounds/background-night-2.jpg) no-repeat center;
	background-size: 100% 100%;
	color: #020202;
}

a
{
	color: #020202;
}

#content-cell
{
	background: rgba(250, 250, 250, 0.7);
}

#player
{
	background: rgba(28, 186, 225, 0.7);
}

.player-control-stalled
{
	background-size: 25px 25px !important;
	background: url('sprites/play-day.png') no-repeat center;
	background-position: center!important;
}

.player-control-playing
{
	background-size: 25px 25px !important;
	background: url('sprites/pause-day.png') no-repeat center;
}
